doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://rawgit.com/flatiron/director/master/build/director.min.js")
  body
    block content